@import "base.css";
.wrap {
  width: 100%;
  background-color: #F6F6F6;
}
.wrap .ad {
  width: 100%;
  background-color: #FF6000;
}
.wrap .ad .banner {
  width: 1280px;
  height: 80px;
  background: url("../images/topbanner.jpg") no-repeat;
  position: relative;
  margin: 0 auto;
}
.wrap .ad .banner .close-banner {
  width: 19px;
  height: 19px;
  background: url("../images/close-banner.png") 0px 19px;
  position: absolute;
  top: 0;
  right: 0;
}
.wrap .ad .banner .close-banner:hover {
  background: url("../images/close-banner.png");
}
.wrap .top .shortcut {
  width: 100%;
  height: 30px;
  background-color: #E3E4E5;
  border: 1px solid #DDDDDD;
}
.wrap .top .shortcut .shortcut-wrap {
  width: 1280px;
  margin: 0 auto;
}
.wrap .top .shortcut .shortcut-wrap .logo {
  width: 192px;
  height: 170px;
  background: url("../images/logo.png");
  float: left;
}
.wrap .top .shortcut .shortcut-wrap .constommer span {
  line-height: 30px;
  padding: 0 10px;
  display: inline-block;
}
.wrap .top .shortcut .shortcut-wrap .constommer span:hover {
  background-color: #fff;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul {
  float: right;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul li {
  display: inline-block;
  line-height: 30px;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul li a {
  color: #999999;
  font-size: 12px;
  display: inline;
  padding: 0 12px;
  border-left: 1px solid #CCCCCC;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul li a:hover {
  color: #d24a3d;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul li:nth-of-type(1) a:nth-of-type(1) {
  padding-right: 0px;
  border-left: none;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul li:nth-of-type(1) a:nth-of-type(2) {
  color: red;
  padding-left: 4px;
  border-left: none;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul li:nth-of-type(1) a:nth-of-type(2):hover {
  color: #d24a3d;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul li:nth-of-type(3):hover {
  background-color: #fff;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul li:nth-of-type(6):hover {
  background-color: #fff;
}
.wrap .top .shortcut .shortcut-wrap .constommer ul li:nth-of-type(7):hover {
  background-color: #fff;
}
.wrap .top .lunbo-top {
  height: 140px;
  width: 1280px;
  margin: 0 auto;
}
.wrap .top .lunbo-top .erweima {
  width: 68px;
  height: 68px;
  background: url("../images/erweima.png");
  float: right;
}
.wrap .top .lunbo-top .cart {
  width: 190px;
  height: 35px;
  border: 1px solid #E3E4E5;
  background-color: #fff;
  float: right;
  margin-top: 25px;
  margin-right: 15px;
  text-align: center;
}
.wrap .top .lunbo-top .cart .cart-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/tel.png") 0 -52px;
  margin-top: 3.5px;
}
.wrap .top .lunbo-top .cart a {
  color: red;
}
.wrap .top .lunbo-top .search {
  width: 550px;
  height: 35px;
  border: 1px solid red;
  float: right;
  margin-top: 25px;
  margin-right: 31px;
  background-color: #fff;
}
.wrap .top .lunbo-top .search input {
  border: none;
  height: 33px;
  margin-left: 5px;
}
.wrap .top .lunbo-top .search input:focus {
  outline: none;
}
.wrap .top .lunbo-top .search img {
  float: right;
  cursor: pointer;
}
.wrap .top .lunbo-top .hotword ul {
  float: right;
  margin-right: 300px;
}
.wrap .top .lunbo-top .hotword ul li {
  float: left;
}
.wrap .top .lunbo-top .hotword ul li a {
  color: #999999;
  padding-right: 5px;
  font-size: 12px;
}
.wrap .top .lunbo-top .hotword ul li a:hover {
  color: #d24a3d;
}
.wrap .top .lunbo-top .hotword ul li:nth-of-type(1) a {
  color: red;
}
.wrap .top .lunbo-top .hotword ul li:nth-of-type(1) a:hover {
  color: #d24a3d;
}
.wrap .top .lunbo-top .top-nav {
  float: left;
  margin-top: 30px;
  margin-left: 40px;
}
.wrap .top .lunbo-top .top-nav a {
  color: #555555;
  font: 700 16px/16px "microsoft yahei";
  padding: 0 20px;
}
.wrap .top .lunbo-top .top-nav a:hover {
  color: #d24a3d;
}
.wrap .top .lunbo-top .treasure {
  cursor: pointer;
  float: right;
  width: 190px;
  height: 40px;
  background: url("../images/fupin.png");
  margin-top: 10px;
}
.wrap .top .mian-tab {
  width: 1280px;
  margin: 0 auto;
}
.wrap .top .mian-tab .left-tab {
  width: 190px;
  height: 480px;
  background-color: #6E6568;
  color: #fff;
  float: left;
}
.wrap .top .mian-tab .left-tab ul {
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
}
.wrap .top .mian-tab .left-tab ul li {
  padding-left: 9px;
  width: 100%;
  height: 28px;
}
.wrap .top .mian-tab .left-tab ul li:hover {
  background-color: #999999;
}
.wrap .top .mian-tab .left-tab ul li a {
  color: #fff;
  padding: 0 3px;
  line-height: 28px;
}
.wrap .top .mian-tab .left-tab ul li a:hover {
  color: #d24a3d;
}
.wrap .top .mian-tab .lunbo {
  width: 880px;
  height: 340px;
  position: relative;
  float: left;
  margin-left: 10px;
  z-index: 99;
}
.wrap .top .mian-tab .lunbo .tonext,
.wrap .top .mian-tab .lunbo .topre {
  position: absolute;
  width: 25px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
}
.wrap .top .mian-tab .lunbo .tonext {
  top: 150px;
  right: 0;
}
.wrap .top .mian-tab .lunbo .topre {
  top: 150px;
  left: 0;
}
.wrap .top .mian-tab .lunbo img {
  width: 880px;
  height: 340px;
  position: absolute;
  opacity: 1;
}
.wrap .top .mian-tab .lunbo .index {
  position: absolute;
  left: 350px;
  bottom: 20px;
  z-index: 99;
}
.wrap .top .mian-tab .lunbo .index ul {
  width: 176px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.wrap .top .mian-tab .lunbo .index ul li {
  float: left;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  margin: 4px 5px;
}
.wrap .top .mian-tab .lunbo .index ul li.active {
  background-color: red;
}
.wrap .top .mian-tab .right-content {
  width: 190px;
  height: 480px;
  background-color: #fff;
  float: right;
}
.wrap .top .mian-tab .right-content .user {
  width: 100%;
  height: 116px;
  font-size: 12px;
}
.wrap .top .mian-tab .right-content .user .touxiang {
  width: 160px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
.wrap .top .mian-tab .right-content .user .touxiang img {
  position: absolute;
  left: 0px;
  top: 12px;
  cursor: pointer;
}
.wrap .top .mian-tab .right-content .user .touxiang .touxiang-info {
  position: absolute;
  top: 0px;
  right: 18px;
  color: gray;
}
.wrap .top .mian-tab .right-content .user .touxiang .touxiang-info a {
  color: gray;
}
.wrap .top .mian-tab .right-content .user .touxiang .touxiang-info a:hover {
  color: #d24a3d;
}
.wrap .top .mian-tab .right-content .user .sup-user {
  width: 160px;
  margin: 40px auto 0px;
}
.wrap .top .mian-tab .right-content .user .sup-user a {
  display: inline-block;
  border: 2px solid red;
  width: 70px;
  height: 20px;
  color: red;
  line-height: 20px;
  text-align: center;
}
.wrap .top .mian-tab .right-content .user .sup-user a:hover {
  background-color: red;
  color: #fff;
}
.wrap .top .mian-tab .right-content .news {
  border-top: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .news .news-tab {
  width: 160px;
  height: 27px;
  border-bottom: 1px solid #E6E6E6;
  margin: 0 auto;
}
.wrap .top .mian-tab .right-content .news .news-tab ul {
  margin-right: 45px;
}
.wrap .top .mian-tab .right-content .news .news-tab ul li {
  display: inline-block;
  line-height: 27px;
}
.wrap .top .mian-tab .right-content .news .news-tab ul li:nth-of-type(1) a {
  padding-right: 10px;
  border-right: 1px solid #E6E6E6;
  color: #000;
}
.wrap .top .mian-tab .right-content .news .news-tab ul li:nth-of-type(2) a {
  padding-left: 10px;
  color: #000;
}
.wrap .top .mian-tab .right-content .news .news-tab a {
  color: gray;
}
.wrap .top .mian-tab .right-content .news .news-tab a:hover {
  color: #d24a3d;
}
.wrap .top .mian-tab .right-content .news .news-content {
  width: 160px;
  height: 120px;
  margin: 5px auto 0;
  position: relative;
}
.wrap .top .mian-tab .right-content .news .news-content .show {
  display: block;
}
.wrap .top .mian-tab .right-content .news .news-content ul {
  position: absolute;
  display: none;
}
.wrap .top .mian-tab .right-content .news .news-content ul li {
  height: 24px;
}
.wrap .top .mian-tab .right-content .news .news-content ul li a {
  font-size: 12px;
  color: #999999;
  line-height: 24px;
}
.wrap .top .mian-tab .right-content .news .news-content ul li a:hover {
  color: #d24a3d;
}
.wrap .top .mian-tab .right-content .lists {
  width: 100%;
  height: 209px;
  border-top: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a {
  width: 22%;
  height: 32%;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  color: #666666;
}
.wrap .top .mian-tab .right-content .lists a:hover {
  color: #d24a3d;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(1) {
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(1) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") no-repeat;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(2) {
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(2) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 25px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(3) {
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(3) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 50px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(4) {
  border-bottom: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(4) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 75px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(5) {
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(5) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 100px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(6) {
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(6) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 125px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(7) {
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(7) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 150px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(8) {
  border-bottom: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(8) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 175px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(9) {
  border-right: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(9) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 200px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(10) {
  border-right: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(10) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 225px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(11) {
  border-right: 1px solid #E6E6E6;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(11) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 250px;
  margin: 10px auto;
}
.wrap .top .mian-tab .right-content .lists a:nth-of-type(12) div {
  width: 25px;
  height: 25px;
  background: url("../images/fly.png") 0 275px;
  margin: 10px auto;
}
.wrap .top .mian-tab .lunbo-foot {
  width: 880px;
  height: 130px;
  float: left;
  margin: 10px 0 0 10px;
}
.wrap .top .mian-tab .lunbo-foot a:nth-of-type(1) {
  width: 435px;
  height: 130px;
  background: url("../images/lunbo-foot1.jpg");
  background-size: 435px 130px;
  margin-right: 5px;
}
.wrap .top .mian-tab .lunbo-foot a:nth-of-type(2) {
  width: 435px;
  height: 130px;
  background: url("../images/lunbo-foot2.jpg");
  background-size: 435px 130px;
}
.wrap .search-bar {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid red;
  position: fixed;
  top: -100%;
  background-color: #fff;
  z-index: 99;
}
.wrap .search-bar .search-wrap {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.wrap .search-bar .search {
  position: absolute;
  top: 7.5px;
  left: 365px;
  display: inline-block;
  height: 35px;
  width: 550px;
  background-color: #EFEFEF;
}
.wrap .search-bar .search input {
  width: 400px;
  height: 100%;
  border: none;
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #EFEFEF;
}
.wrap .search-bar .search input:focus {
  outline: none;
}
.wrap .search-bar .search img {
  float: right;
}
.wrap .right-bar {
  position: fixed;
  right: 0;
  top: 425px;
}
.wrap .right-bar ul {
  width: 35px;
  height: 216px;
}
.wrap .right-bar ul li {
  width: 100%;
  height: 35px;
  background-color: #7A6E6E;
  border-top: 1px solid #fff;
  border-radius: 3px;
}
.wrap .right-bar ul li a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.wrap .right-bar ul li a:hover {
  background-color: #EB2D14;
}
.wrap .left-list {
  position: fixed;
  left: 43px;
  top: 263px;
  display: none;
}
.wrap .left-list ul {
  width: 34px;
  height: 493px;
  background-color: #918888;
}
.wrap .left-list ul li {
  color: #fff;
  width: 100%;
  font-size: 13px;
  text-align: center;
  padding: 4px 0;
  box-sizing: border-box;
  border-bottom: 0.5px solid #E6E6E6;
  cursor: pointer;
}
.wrap .left-list ul li:hover {
  background-color: #D70B1C;
}
.wrap .left-list ul li:nth-of-type(12) {
  border-bottom: none;
}
.wrap .left-list ul li.active {
  background-color: #D70B1C;
}
.wrap .left-list.showin {
  display: block;
}
.wrap .contents .miaosha {
  width: 1280px;
  height: 305px;
  margin: 10px auto;
  background-color: #fff;
}
.wrap .contents .miaosha .miaosha-top {
  width: 100%;
  height: 55px;
  background: url("../images/seckill_hd.png");
  background-size: 1280px 55px;
  position: relative;
}
.wrap .contents .miaosha .miaosha-top .corner {
  width: 25px;
  height: 25px;
  background: url("../images/sprite_index@1x.png") 245px 325px;
  position: absolute;
  top: 0;
  left: 0;
}
.wrap .contents .miaosha .miaosha-top .clock-icon {
  width: 34px;
  height: 40px;
  background: url("../images/sprite_index@1x.png") 218px 148px;
  position: absolute;
  top: 7.5px;
  left: 30px;
}
.wrap .contents .miaosha .miaosha-top .ti {
  position: absolute;
  left: 72px;
  line-height: 55px;
  font-size: 26px;
  color: #fff;
}
.wrap .contents .miaosha .miaosha-top a {
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 25px;
  left: 187px;
}
.wrap .contents .miaosha .miaosha-top .to {
  width: 15px;
  height: 16px;
  position: absolute;
  top: 27px;
  left: 316px;
  cursor: pointer;
  background: url("../images/sprite_index@1x.png") 64px 148px;
}
.wrap .contents .miaosha .miaosha-top .time {
  padding-top: 10px;
  height: 55px;
  position: absolute;
  right: 30px;
  color: #fff;
}
.wrap .contents .miaosha .miaosha-top .time div {
  width: 35px;
  height: 37px;
  display: inline-block;
  background-color: #440106;
  border-radius: 6px;
  font-size: 29px;
  color: #F90013;
}
.wrap .contents .miaosha .miaosha-top .time span {
  font-size: 29px;
  color: #440106;
}
.wrap .contents .miaosha .miaosha-content {
  width: 1280px;
  height: 225px;
  margin-top: 10px;
}
.wrap .contents .miaosha .miaosha-content .content-left {
  width: 1000px;
  height: 100%;
  display: inline-block;
  margin-left: 10px;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap {
  width: 1000px;
  height: 100%;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap li {
  display: inline-block;
  width: 195px;
  height: 100%;
  border-right: 1px solid #E6E6E6;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap li .price {
  font-weight: 600;
  font-size: 16px;
  color: red;
  margin-left: 10px;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap li .price del {
  font-size: 12px;
  color: #999999;
  font-weight: 400;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap li a {
  display: block;
  width: 170px;
  height: 196px;
  margin: 0 auto;
  color: gray;
  font-size: 12px;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap li .list-content1 {
  width: 130px;
  height: 130px;
  background: url("../images/miaosha1.jpg");
  margin: 10px auto;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap li .list-content2 {
  width: 130px;
  height: 130px;
  background: url("../images/miaosha2.jpg");
  margin: 10px auto;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap li .list-content3 {
  width: 130px;
  height: 130px;
  background: url("../images/miaosha3.jpg");
  margin: 10px auto;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap li .list-content4 {
  width: 130px;
  height: 130px;
  background: url("../images/miansha4.jpg");
  margin: 10px auto;
}
.wrap .contents .miaosha .miaosha-content .content-left .list-wrap li .list-content5 {
  width: 130px;
  height: 130px;
  background: url("../images/miaosha5.jpg");
  margin: 10px auto;
}
.wrap .contents .miaosha .miaosha-content .right-lunbo {
  position: relative;
  width: 200px;
  height: 225px;
  display: inline-block;
  margin-left: 30px;
}
.wrap .contents .miaosha .miaosha-content .right-lunbo img:nth-of-type(1) {
  width: 200px;
  height: 225px;
  position: absolute;
  left: 0;
  top: 0;
}
.wrap .contents .miaosha .miaosha-content .right-lunbo img:nth-of-type(2) {
  width: 200px;
  height: 225px;
  position: absolute;
  left: 0;
  top: 0;
}
.wrap .contents .conmend {
  width: 1280px;
  height: 444px;
  margin: 0 auto;
  margin-top: 20px;
}
.wrap .contents .conmend .good-produce {
  width: 416.66666667px;
  display: inline-block;
  background-color: #fff;
}
.wrap .contents .conmend .good-produce img {
  width: 100%;
  height: 55px;
}
.wrap .contents .conmend .good-produce ul {
  width: 396.66666667px;
  margin: 10px 10px 0;
  padding-bottom: 10px;
}
.wrap .contents .conmend .good-produce ul .good-produce-tip {
  width: 80px;
  padding-top: 15px;
  padding-left: 15px;
}
.wrap .contents .conmend .good-produce ul li {
  float: left;
  width: 50%;
  height: 120px;
  box-sizing: border-box;
}
.wrap .contents .conmend .good-produce ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #3C8D96;
  position: relative;
}
.wrap .contents .conmend .good-produce ul li a img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.wrap .contents .conmend .good-produce ul li:nth-of-type(2n+1) {
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.wrap .contents .conmend .good-produce ul li:nth-of-type(2n) {
  border-bottom: 1px solid #e7e7e7;
}
.wrap .contents .conmend .good-produce ul li:nth-last-child(-n+2) {
  border-bottom: none;
}
.wrap .contents .conmend .will-buy {
  width: 416.66666667px;
  float: right;
  margin: 0 10px 0;
  background-color: #fff;
}
.wrap .contents .conmend .will-buy .will-buy-index {
  height: 10px;
  width: 25%;
  margin-left: 188px;
}
.wrap .contents .conmend .will-buy .will-buy-index .now {
  background-color: red;
}
.wrap .contents .conmend .will-buy .will-buy-index li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #EEEEEE;
  display: inline-block;
}
.wrap .contents .conmend .will-buy img {
  width: 100%;
  height: 55px;
}
.wrap .contents .conmend .will-buy .will-buy-content {
  width: 390px;
  height: 356px;
  margin: 10px auto 0;
}
.wrap .contents .conmend .will-buy .will-buy-content .sup-line {
  width: 80%;
  height: 1px;
  background-color: #EEEEEE;
  margin: 10px auto;
}
.wrap .contents .conmend .will-buy .will-buy-content a {
  width: 360px;
  height: 159px;
  color: gray;
  margin: 0 15px;
}
.wrap .contents .conmend .will-buy .will-buy-content a img {
  width: 110px;
  height: 100px;
}
.wrap .contents .conmend .will-buy .will-buy-content a img:nth-of-type(-n+2) {
  margin-right: 10px;
}
.wrap .contents .conmend .rank {
  background-color: #fff;
  width: 416.66666667px;
  float: right;
}
.wrap .contents .conmend .rank img {
  width: 100%;
  height: 55px;
}
.wrap .contents .conmend .rank .rank-tab {
  width: 100%;
  height: 31px;
}
.wrap .contents .conmend .rank .rank-tab .rank-tab-bottom-line {
  border-bottom: 2px solid red;
}
.wrap .contents .conmend .rank .rank-tab ul {
  width: 95%;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 5px;
  margin-left: 10px;
}
.wrap .contents .conmend .rank .rank-tab ul li {
  width: 19%;
  display: inline-block;
  box-sizing: border-box;
  border-right: 1px solid #EEEEEE;
  text-align: center;
}
.wrap .contents .conmend .rank .rank-tab ul li a {
  color: #666666;
}
.wrap .contents .conmend .rank .rank-tab ul li:nth-of-type(5) {
  border-right: none;
}
.wrap .contents .conmend .rank .rank-content {
  width: 370px;
  height: 335px;
  margin: 10px auto 10px;
}
.wrap .contents .conmend .rank .rank-content ul {
  width: 100%;
  height: 100%;
}
.wrap .contents .conmend .rank .rank-content ul li {
  float: left;
  width: 33.33%;
  height: 50%;
}
.wrap .contents .conmend .rank .rank-content ul li a {
  color: #666666;
  margin-left: 12px;
}
.wrap .contents .conmend .rank .rank-content ul li a:hover {
  color: #d24a3d;
}
.wrap .contents .conmend .rank .rank-content ul li p {
  font-size: 12px;
  width: 100px;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(1) .rank-pic {
  width: 100px;
  height: 100px;
  background: url("../images/rank11.jpg");
  position: relative;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(1) .rank-pic .rank-icon {
  width: 30px;
  height: 40px;
  background: url("../images/sprite_index@1x.png") 114px 148px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font: 700 25px/40px "microsoft yahei";
  color: #fff;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(2) .rank-pic {
  width: 100px;
  height: 100px;
  background: url("../images/rank12.jpg");
  position: relative;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(2) .rank-pic .rank-icon {
  width: 30px;
  height: 40px;
  background: url("../images/sprite_index@1x.png") 164px 148px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font: 700 25px/40px "microsoft yahei";
  color: #fff;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(3) .rank-pic {
  width: 100px;
  height: 100px;
  background: url("../images/rank13.jpg");
  position: relative;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(3) .rank-pic .rank-icon {
  width: 30px;
  height: 40px;
  background: url("../images/sprite_index@1x.png") 218px 88px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font: 700 25px/40px "microsoft yahei";
  color: #fff;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(4) .rank-pic {
  width: 100px;
  height: 100px;
  background: url("../images/rank14.jpg");
  position: relative;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(4) .rank-pic .rank-icon {
  width: 30px;
  height: 40px;
  background: url("../images/sprite_index@1x.png") 118px 88px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font: 700 25px/40px "microsoft yahei";
  color: #fff;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(5) .rank-pic {
  width: 100px;
  height: 100px;
  background: url("../images/rank15.jpg");
  position: relative;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(5) .rank-pic .rank-icon {
  width: 30px;
  height: 40px;
  background: url("../images/sprite_index@1x.png") 118px 88px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font: 700 25px/40px "microsoft yahei";
  color: #fff;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(6) .rank-pic {
  width: 100px;
  height: 100px;
  background: url("../images/rank16.jpg");
  position: relative;
}
.wrap .contents .conmend .rank .rank-content ul li:nth-of-type(6) .rank-pic .rank-icon {
  width: 30px;
  height: 40px;
  background: url("../images/sprite_index@1x.png") 118px 88px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font: 700 25px/40px "microsoft yahei";
  color: #fff;
}
.wrap .contents .pic-divice {
  width: 100%;
  height: 100px;
  background-color: #E0E0E0;
  margin: 30px auto 30px;
}
.wrap .contents .pic-divice .pic {
  width: 1188px;
  height: 100%;
  margin: 0 auto;
}
.wrap .contents .pic-divice .pic a {
  width: 33%;
  height: 100%;
}
.wrap .contents .pic-divice .pic a:nth-of-type(1) {
  background: url("../images/pic-divice1.jpg");
}
.wrap .contents .pic-divice .pic a:nth-of-type(2) {
  background: url("../images/pic-divice2.jpg");
}
.wrap .contents .pic-divice .pic a:nth-of-type(3) {
  background: url("../images/pic-divice3.jpg");
}
.wrap .contents .pic-divice .pic a:hover {
  opacity: 0.6;
}
.wrap .contents .enjoy .title {
  width: 1280px;
  height: 55px;
  background: url("../images/dott.png") repeat-x center;
  margin: 0 auto;
}
.wrap .contents .enjoy .title h3 {
  display: inline;
  padding: 0 50px;
  background-color: #f6f6f6;
  font-weight: 400;
  font-size: 26px;
  color: #333;
  margin-left: 551px;
  line-height: 51px;
}
.wrap .contents .enjoy .enjoy-content {
  width: 1280px;
  margin: 0 auto;
}
.wrap .contents .enjoy .enjoy-content ul {
  width: 792px;
  height: 530px;
  margin-left: 40px;
}
.wrap .contents .enjoy .enjoy-content ul li {
  width: 390px;
  height: 170px;
  float: left;
  margin-bottom: 10px;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-child(2n+1) {
  margin-right: 10px;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(1) a {
  background: url("../images/enjoy1.jpg") 10px 0;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(1) a .describe {
  background-color: #71BA8F;
  opacity: 0.8;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(2) a {
  background: url("../images/enjoy2.jpg") 10px 0;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(2) a .describe {
  background-color: #DCD178;
  opacity: 0.8;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(3) a {
  background: url("../images/enjoy3.jpg") 10px 0;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(3) a .describe {
  background-color: #5C5465;
  opacity: 0.8;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(4) a {
  background: url("../images/enjoy4.jpg") 10px 0;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(4) a .describe {
  background-color: #488B94;
  opacity: 0.8;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(5) a {
  background: url("../images/enjoy5.jpg") 10px 0;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(5) a .describe {
  background-color: #D78E27;
  opacity: 0.8;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(6) a {
  background: url("../images/enjoy6.jpg") 10px 0;
}
.wrap .contents .enjoy .enjoy-content ul li:nth-of-type(6) a .describe {
  background-color: #86634F;
  opacity: 0.8;
}
.wrap .contents .enjoy .enjoy-content ul li a {
  width: 100%;
  height: 100%;
}
.wrap .contents .enjoy .enjoy-content ul li a .describe {
  width: 140.4px;
  height: 140px;
  color: #fff;
  padding-top: 30px;
}
.wrap .contents .enjoy .enjoy-content ul li a .describe h4 {
  width: 100px;
  font-size: 22px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 5px 3px;
  text-align: center;
  font-weight: 100;
  margin: 0 auto;
}
.wrap .contents .enjoy .enjoy-content ul li a .describe p {
  width: 100px;
  font-size: 14px;
  margin: 0 auto;
  padding-top: 10px;
}
.wrap .contents .enjoy .enjoy-content .live {
  width: 390px;
  height: 530px;
  float: right;
  position: relative;
  margin-right: 40px;
}
.wrap .contents .enjoy .enjoy-content .live img {
  width: 100%;
  height: 350px;
}
.wrap .contents .enjoy .enjoy-content .live .descrip {
  width: 190px;
  height: 80px;
  position: absolute;
  bottom: 0;
  color: #fff;
}
.wrap .contents .enjoy .enjoy-content .live .descrip h4 {
  text-align: center;
  width: 100px;
  font-size: 17px;
  padding: 5px 5px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 10px auto;
}
.wrap .contents .enjoy .enjoy-content .live .descrip p {
  font-size: 13px;
  text-align: center;
}
.wrap .contents .enjoy .enjoy-content .live .right-1 {
  width: 190px;
  height: 170px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../images/enjoy7.jpg") 10px 0;
}
.wrap .contents .enjoy .enjoy-content .live .right-1 .descrip {
  background-color: #AF453D;
}
.wrap .contents .enjoy .enjoy-content .live .right-2 {
  width: 190px;
  height: 170px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../images/enjoy8.jpg") 10px 0;
}
.wrap .contents .enjoy .enjoy-content .live .right-2 .descrip {
  background-color: #6B306A;
}
.wrap .contents .love-live .title {
  width: 1280px;
  height: 55px;
  background: url("../images/dott.png") repeat-x center;
  margin: 0 auto;
}
.wrap .contents .love-live .title h3 {
  display: inline;
  padding: 0 50px;
  background-color: #f6f6f6;
  font-weight: 400;
  font-size: 26px;
  color: #333;
  margin-left: 551px;
  line-height: 51px;
}
.wrap .contents .love-live .love-wrap {
  width: 1280px;
  margin: 0 auto;
}
.wrap .contents .love-live .love-wrap .love-left,
.wrap .contents .love-live .love-wrap .love-right {
  height: 523px;
  width: 635px;
  display: inline-block;
  background-color: #fff;
}
.wrap .contents .love-live .love-wrap .love-left .love-left-color {
  background-color: #994476;
}
.wrap .contents .love-live .love-wrap .love-left .love-top {
  width: 100%;
  height: 58px;
  position: relative;
}
.wrap .contents .love-live .love-wrap .love-left .love-top h4 {
  font-size: 21px;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 15px;
  left: 25px;
}
.wrap .contents .love-live .love-wrap .love-left .love-top ul {
  position: absolute;
  top: 16px;
  right: 25px;
}
.wrap .contents .love-live .love-wrap .love-left .love-top ul li {
  padding: 3px 8px;
  float: left;
  border: 1px solid #C187AF;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.wrap .contents .love-live .love-wrap .love-left .love-top ul li:hover {
  border: 1px solid #fff;
}
.wrap .contents .love-live .love-wrap .love-left .love-top ul li a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 13px;
}
.wrap .contents .love-live .love-wrap .love-left .love-content {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul {
  margin-left: 26px;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li {
  width: 188px;
  height: 130px;
  float: left;
  overflow: hidden;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(1) {
  width: 188px;
  height: 260px;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(2),
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(3) {
  border-bottom: 1px solid #E6E6E6;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(2),
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(4) {
  border-right: 1px solid #E6E6E6;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(1),
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(6),
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(7) {
  margin-right: 10px;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(1),
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(4),
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(5) {
  margin-bottom: 10px;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(2) a,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(3) a,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(4) a,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(5) a {
  position: relative;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(2) a h5,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(3) a h5,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(4) a h5,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(5) a h5 {
  color: #974676;
  font-size: 14px;
  margin: 20px 0 0 10px;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(2) a p,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(3) a p,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(4) a p,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(5) a p {
  color: gray;
  font-size: 13px;
  width: 52px;
  margin: 4px 0 0 10px;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(2) a img,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(3) a img,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(4) a img,
.wrap .contents .love-live .love-wrap .love-left .love-content ul li:nth-of-type(5) a img {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.wrap .contents .love-live .love-wrap .love-left .love-content ul li a {
  width: 100%;
  height: 100%;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo {
  width: 569px;
  height: 35px;
  overflow: hidden;
  margin: 10px auto;
  position: relative;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo .love-turnleft,
.wrap .contents .love-live .love-wrap .love-left .love-lunbo .love-turnright {
  color: gray;
  z-index: 1;
  cursor: pointer;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo .love-turnleft {
  position: absolute;
  top: 10px;
  left: -2px;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo .love-turnleft:hover {
  color: red;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo .love-turnright {
  position: absolute;
  top: 10px;
  right: 0;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo .love-turnright:hover {
  color: red;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo ul {
  width: 2232px;
  transform: translate(-558px);
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo ul li {
  float: left;
  padding: 0 11px;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo ul li:hover {
  opacity: 0.8;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo ul li a {
  width: 100%;
  height: 20px;
  border-right: 1px solid #DEDFE0;
  margin-top: 10px;
}
.wrap .contents .love-live .love-wrap .love-left .love-lunbo ul li a img {
  margin-top: -10px;
}
.wrap .contents .love-live .love-wrap .love-right .love-right-color {
  background-color: #CA3559;
}
.wrap .contents .love-live .love-wrap .love-right .love-top {
  width: 100%;
  height: 58px;
  position: relative;
}
.wrap .contents .love-live .love-wrap .love-right .love-top h4 {
  font-size: 21px;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 15px;
  left: 25px;
}
.wrap .contents .love-live .love-wrap .love-right .love-top ul {
  position: absolute;
  top: 16px;
  right: 25px;
}
.wrap .contents .love-live .love-wrap .love-right .love-top ul li {
  padding: 3px 8px;
  float: left;
  border: 1px solid #C187AF;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.wrap .contents .love-live .love-wrap .love-right .love-top ul li:hover {
  border: 1px solid #fff;
}
.wrap .contents .love-live .love-wrap .love-right .love-top ul li a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 13px;
}
.wrap .contents .love-live .love-wrap .love-right .love-content {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul {
  margin-left: 26px;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li {
  width: 188px;
  height: 130px;
  float: left;
  overflow: hidden;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(1) {
  width: 188px;
  height: 260px;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(2),
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(3) {
  border-bottom: 1px solid #E6E6E6;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(2),
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(4) {
  border-right: 1px solid #E6E6E6;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(1),
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(6),
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(7) {
  margin-right: 10px;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(1),
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(4),
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(5) {
  margin-bottom: 10px;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(2) a,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(3) a,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(4) a,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(5) a {
  position: relative;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(2) a h5,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(3) a h5,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(4) a h5,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(5) a h5 {
  color: #974676;
  font-size: 14px;
  margin: 20px 0 0 10px;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(2) a p,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(3) a p,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(4) a p,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(5) a p {
  color: gray;
  font-size: 13px;
  width: 52px;
  margin: 4px 0 0 10px;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(2) a img,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(3) a img,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(4) a img,
.wrap .contents .love-live .love-wrap .love-right .love-content ul li:nth-of-type(5) a img {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.wrap .contents .love-live .love-wrap .love-right .love-content ul li a {
  width: 100%;
  height: 100%;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo {
  width: 569px;
  height: 35px;
  overflow: hidden;
  margin: 10px auto;
  position: relative;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo .love-turnleft,
.wrap .contents .love-live .love-wrap .love-right .love-lunbo .love-turnright {
  color: gray;
  z-index: 1;
  cursor: pointer;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo .love-turnleft {
  position: absolute;
  top: 10px;
  left: -2px;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo .love-turnleft:hover {
  color: red;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo .love-turnright {
  position: absolute;
  top: 10px;
  right: 0;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo .love-turnright:hover {
  color: red;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo ul {
  width: 2232px;
  transform: translate(-558px);
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo ul li {
  float: left;
  padding: 0 11px;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo ul li:hover {
  opacity: 0.8;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo ul li a {
  width: 100%;
  height: 20px;
  border-right: 1px solid #DEDFE0;
  margin-top: 10px;
}
.wrap .contents .love-live .love-wrap .love-right .love-lunbo ul li a img {
  margin-top: -10px;
}
.wrap .footer {
  width: 1000px;
  height: 100%;
  border: 1px solid #000;
}
